<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Document</title>
</head>
<body>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>

    <div id="app">

        <!-- Задача 10.1 Дан текстареа. Сделайте так, чтобы при наборе текста в этом текстареа, этот текст одновременно выводился в абзаце под ним. -->
        <textarea v-model="text"></textarea>
	    <p>Введенное textarea: {{ text }}</p>

        <!-- Задача 10.2 Дан текстареа и кнопка. В текстареа вводится текст. По нажатию на кнопку получите массив введенных в текстареа слов и выведите элементы этого массива в виде списка ul. -->  
        <textarea v-model="newItem"></textarea>
        <button v-on:click="addArrAndItem">Добавить в список</button>
        <ul>
            <li v-for="item in arr">{{ item }}</li>
        </ul>

        <!-- Задача 10.3 Дан чекбокс. Выведите его состояние (true или false) в абзаце под ним. -->
        <input type="checkbox" v-model="checked">
        <p>Состояние: {{ checked }}</p>

        <!-- Задача 10.4 Дан чекбокс. Дан абзац. С помощью директивы v-if сделайте следующее: если чекбокс отмечен - абзац должен быть показан, а если не отмечен - то скрыт. -->
        <input type="checkbox" v-model="checked2">
        <p v-if="checked2">Показать</p>

        <!-- Задача 10.5 Дан чекбокс. Выведите его состояние ('отмечен' или 'не отмечен') в абзаце под ним. -->
        <input type="checkbox" v-model="checked3">
        <p>Состояние: {{ checked3 ? 'отмечен' : 'не отмечен' }}</p>   

        <!-- Задача 10.6 Даны чекбоксы. Сделайте так, чтобы value отмеченных чекбоксов выводились в какой-нибудь абзац. -->
        <input type="checkbox" v-model="lang" value="html">
        <input type="checkbox" v-model="lang" value="css">
        <input type="checkbox" v-model="lang" value="js">
        <p>Содержимое массива: {{ lang }}</p>

        <!-- Задача 10.7 Даны чекбоксы. С помощью директивы v-for сделайте так, чтобы их value выводились в виде списка ul. -->
        <ul>
            <li v-for="item in lang">{{ item }}</li>
        </ul>

        <!-- Задача 10.8 Спросите у пользователя с помощью радиокнопочек, какой язык для него родной (например, ru, en или de). Сделайте так, чтобы выбранный язык вывелся в абзаце под радиокнопочками. -->
        <p>Выберете ваш язык</p>
        <input name="radio" type="radio" v-model="type" value="ru">Русский
        <input name="radio" type="radio" v-model="type" value="en">Английский
        <input name="radio" type="radio" v-model="type" value="de">Немецкий
        <p>Вы выбрали: {{ type }}</p>

        <!-- Задача 10.9 Модифицируйте предыдущую задачу следующим образом: пусть у нас есть 3 абзаца с текстом на разном языке. В зависимости от выбора пользователя выведите фразу на выбранном им языке. Задачу решите с помощью директивы v-if или v-if-else. -->
        <p v-if="type === 'ru'">Ру. абзац</p>
        <p v-else-if="type === 'en'">Англ. абзац</p>
        <p v-else-if="type === 'de'">Нем. абзац</p>

        <!-- Задача 10.10 Спросите у пользователя с помощью селекта в каком городе он живет. Сделайте так, чтобы выбранный город вывелся в абзаце под селектом. -->
        <select v-model="selected">
            <option>В каком городе вы живете?</option>
            <option>Москва</option>
            <option>Париж</option>
            <option>Шанхай</option>
        </select>
        <p>{{ selected }}</p>

        <!-- Задача 10.11 Дан массив. Дан селект. Выведите этот массив в виде селекта. Сделайте так, чтобы выбор пользователя отображался на экране. -->
        <select v-model="selected2">
            <option v-for="option in options">{{ option }}</option>
        </select>
        <p>{{ selected2 }}</p>

        <!-- Задача 11.1 Дан абзац. Дано свойство str. Добавьте абзацу в атрибут id значение свойства str. -->
        <p v-bind:id="str">Абзац</p>

        <!-- Задача 11.2 Дан инпут. Сделайте кнопку, нажатие на которую будет по очереди заблокировать и отблокировать наш инпут. -->
        <input v-bind:disabled="isDisabled" v-if:="checked4">
        <button v-on:click="buttonChange">Кнопка</button>

        <!-- Задача 11.3 Модифицируйте предыдущую задачу так, чтобы состояние инпута регулировалось чекбоксом: если чекбокс отмечен, то инпут отблокирован, а если не отмечен - то инпут заблокирован. Пусть по умолчанию чекбокс будет не отмечен. -->
        <input v-on:click="buttonChange" type="checkbox" v-model="checked4">

        <!-- Задача 12.1 Дан абзац. Дано свойство cssClasses, в котором записаны некоторые CSS классы. Добавьте эти классы к нашему абзацу. -->
        <p v-bind:class="cssClasses">Абзац 12.1</p>

        <!-- Задача 12.2 Дан абзац. Дано свойство isValid. Если это свойство имеет значение true - добавьте абзацу класс valid. -->
        <p v-bind:class="{valid: isValid}">Абзац 12.2</p>

        <!-- Задача 12.3 Дан абзац. Дано свойство isValid и свойство isDone. Если свойство isValid имеет значение true - добавьте абзацу класс valid. Если свойство isDone имеет значение true - добавьте абзацу класс task-done. -->
        <p v-bind:class="{valid: isValid, 'task-done': isDone}">Абзац 12.3</p>

        <!-- Задача 12.4 Модифицируйте предыдущую задачу. Пусть isDone изначальное имеет значение false. Сделайте кнопку, по нажатию на которую isDone поменяется на true тем самым добавив абзацу класс task-done. -->
        <p v-bind:class="{valid: isValid, 'task-done': isDone2}">Абзац 12.4</p>
        <button v-on:click="changeClass">Добавить\Удалить класс</button>

        <!-- Задача 12.5 Дан абзац. Дано свойство isValid. Если это свойство имеет значение true - добавьте абзацу класс valid, а если false - то класс invalid. -->
        <p :class="[isValid2 ? 'valid' : 'invalid']">Абзац 12.5</p>

        <!-- Задача 13.1 Дан абзац. Дано свойство color, в которой хранится CSS цвет. Сделайте так, чтобы абзац имел цвет, хранящийся в свойстве color. -->
        <p v-bind:style="{color: changeableColor}">Абзац 13.1</p>
        <!-- Задача 13.2 Модифицируйте предыдущую задачу. Пусть color изначальное имеет значение 'black'. Сделайте кнопку, по нажатию на которую цвет поменяется на 'red'. -->
        <button v-on:click="changeColor">Изменить цвет</button>

        <!-- Задача 13.3 Дан чекбокс. Дан абзац. Сделайте следующее: если чекбокс отмечен - абзац должен быть красного цвета, а если не отмечен - то черного. -->
        <input v-on:click="checkboxColorChange" type="checkbox" v-model="checked5">
        <p v-bind:style="{color: changeableColor2}">Абзац 13.3</p>



    </div>


    <script src="index.js"></script>

</body>
</html>