<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Document</title>
</head>
<body>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>

    <div id="app">

        <!--Задача 8.1 Дан инпут. Сделайте так, чтобы вводимый в инпут текст сразу выводился в абзаце под ним. -->
        <input v-model="message">
        <p>Введенное сообщение: {{ message }}</p>

        <!-- Задача 8.2 Дан инпут. Дана кнопка. Дан абзац. В инпут вводится число. Сделайте так, чтобы по нажатию на кнопку абзаце появился квадратный корень этого числа. -->
        <p>Квадратный корень: {{ result }}</p>
        <input v-model="num">
        <button v-on:click="calcSqrt">Посчитать</button>

        <!-- Задача 8.3 Даны два инпута. Дана кнопка. Дан абзац. В каждый инпут вводятся числа. Сделайте так, чтобы по нажатию на кнопку в абзаце появилась сумма этих чисел. -->
        <p>Сложение: {{ result2 }}</p>
        <input v-model="num2">
        <input v-model="num3">
        <button v-on:click="calcPlus">Сложение чисел</button>

        <!-- Задача 8.4 Даны два инпута. Дана кнопка. В каждый инпут вводится какой-то текст. Сделайте так, чтобы по нажатию на кнопку текст первого инпута стал во втором и наоборот. -->
        <input v-model="text1">
        <input v-model="text2">
        <button v-on:click="changeText">Поменять местами value</button>

        <br>
        <br>
        
        <!-- Задача 8.5 Дан инпут, 3 абзаца и кнопка. В инпут вводится ФИО пользователя через пробел. Сделайте так, чтобы по нажатию на кнопку в первом абзаце появилась фамилия пользователя, во втором - имя, а в третьем - отчество. -->
        <input v-model="fullName">
        <p>Фамилия: {{ arr[0] }}</p>
        <p>Имя: {{ arr[1] }}</p>
        <p>Отчество: {{ arr[2] }}</p>

        <button v-on:click="addArr">Разделить ФИО</button>

        <!-- Задача 8.6 Дан массив. Дан инпут. Дана кнопка. Выведите элементы этого массива в виде списка ul. Сделайте так, чтобы по нажатию на кнопку в конец списка добавился текст из инпута. 
             Задача 8.7 Модифицируйте предыдущую задачу так, чтобы новый пункт добавлялся в начало списка.-->
        <input v-model="newItem">
        <button v-on:click="addItem">Добавить в список</button>
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>

</div>


    <script src="index.js"></script>

</body>
</html>